html, body {
    margin: 0;
    min-height: 100vh;
}

body {
    background: linear-gradient(to bottom, #669bbc, #003049);
    color: #fdf0d5;
    text-align: center;
    font-family: 'Jockey One', sans-serif;
}

#header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    text-shadow: 5px 5px 0px  rgb(0, 46, 71);
}

#main-title {
    font-size: 70px;
    margin-bottom: 0px;
}

.info {
    margin: 50px 200px 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdf0d5;
    border-radius: 20px;
    color: #003049;
    padding: 10px 30px;
    font-size: 1.5rem;
}

#challenge-container {
    margin: 50px 200px 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdf0d5;
    border-radius: 20px;
    color: #003049;
    padding: 10px 30px;
}

#desafio1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #c1121f;
    text-decoration: underline;
}

#desafio-info {
    margin: 0 15px;
    font-size: 25px;
}

#options-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.image-container {
    transition: all 0.2s ease;
    margin: 0px 10px;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    background-size: cover;
    
}

.image-container:hover {
    transform: scale(1.10);
    transition: transform 0.2s ease-in-out;
}

#option1 {
    background: #669bbc;
    border: 6px solid #fdf0d5;
}

#option2 {
    background: #780000;
    border: 6px solid #fdf0d5;
}

#option3 {
    background: #c1121f;
    border: 6px solid #fdf0d5;
}

#option4 {
    background: #1c1c1f;
    border: 6px solid #fdf0d5;
}

#option5 {
    background: #003049;
    border: 6px solid #fdf0d5;
}

#feedback {
    margin: 60px auto 0px auto;
    font-size: 50px;
}

#code-part {
    margin: 0 auto 20px auto;
    font-size: 25px;
}


